body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f5f7fa;
    color: #333;
}

header {
    background: #1e293b;
    color: white;
    padding: 15px;
}

header h1 {
    margin: 0;
}

nav a {
    color: white;
    margin-right: 15px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

section {
    padding: 30px;
    max-width: 900px;
    margin: auto;
}

.intro {
    text-align: center;
}

.profile-pic {
    width: 600px;
    height: 360px;
    object-fit: cover;
    border-radius: 12px;

}

blockquote {
    font-size: 1.2em;
    font-style: italic;
}

.achievements li {
    margin-bottom: 8px;
    font-size: 1.17em
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
}

.gallery img {
    width: 100%;
    border-radius: 8px;
}

footer {
    text-align: center;
    padding: 15px;
    background: #e5e7eb;
}